extends layout

block content
    //- #sidebar-wrapper.col-md-1
    //-     #sidebar
    #main-wrapper.col-md-11.pull-right
        #main
            .page-header
                h3 About
            p 
                | This is a project developed for the 
                a(target="_blank",href="http://www.vu.nl/nl/studiegids/2014-2015/master/a-b/artificial-intelligence/index.asp?view=module&origin=50769305x50769301&id=50053929") Intelligent Web Applications 
                |  course at the VU Amsterdam.
                | The goal is to improve access to the great 
                a(target="_blank",href="http://bionumbers.hms.harvard.edu/") Bionumbers
                |  database.
            p
                | Contributers are Ivar Meijs, Till D&ouml;hmen and Phillipp Schmidt.