extends layout

block content
    #main-wrapper
        #main
            .page-header
                h4 Explore species and their properties, displays available propeties of children
                input#search_input.form-control(type='text', placeholder='Search species', list="spec_datalist")
                datalist#spec_datalist
            #spec_treeview.scrollable.col-md-8
                | loading treeview
            #proptable.col-md-4
                h4#specname
                table.table.table-condensed
                    thead
                        tr
                            th Property
                            th Value
                            th Unit
                            th Organism
                    tbody
            #json-dump.hidden
