extends layout

block content
    #main-wrapper
        #main
            .page-header
                h4 Select common properties to compare between different organisms
                input#search_input.form-control(type='text', placeholder='Search properties', list="prop_datalist")
                datalist#prop_datalist
            #prop_treeview.scrollable.col-md-8
                | loading treeview
            #proptable.col-md-4
                h5#propname
                table.table.table-condensed
                    thead
                        tr
                            th Property
                            th Value
                            th Unit
                            th Organism
                    tbody
            #json-dump.hidden
