extends layout

block content
    #sidebar-wrapper.col-md-1
        #sidebar
            ul.nav.list-group
                li
                    a.list-group-item(href="#")
                        i.icon-home.icon-1x
                        | Species
                li
                    a.list-group-item(href="#")
                        i.icon-home.icon-1x
                        | Cellular Anotomy
                li
                    a.list-group-item(href="#")
                        i.icon-home.icon-1x
                        | Cellular Function 
    #main-wrapper.col-md-11.pull-right
        #main
            .page-header
                h3 Awesome treeview
            p
                | Find a good RDF viewer
            #treeview