extends layout

block content
    #main-wrapper
        #main
            .page-header
                h4 Explore species and their properties, displays available propeties of children
            #spec_treeview.div-float.scrollable
                input#search_input.form-control
            #proptable.div-float.table.table-condensed
                h4#specname
                table
                    thead
                        tr
                            th.col-md-1 Property
                            th Value
                            th Unit
                            th Organism
                    tbody
            #json-dump.hidden
