doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        meta(name="generator", content="Bootply")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        //- link(rel='stylesheet', href='http://biohackathon.org/d3sparql/lib/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/treeview.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #header.navbar.navbar-default.navbar-fixed-top
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    i.icon-reorder
                a.navbar-brand(href="/")=title
            nav.collapse.navbar-collapse
                ul.nav.navbar-nav
                    //- li
                    //-     a(href="/") Species
                    //- li
                    //-     a(href="/") Properties
                    li
                        a(href="about") About
        #wrapper
            block content
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/d3sparql.js')
        script(src='/javascripts/gui.js')
        script(src='/javascripts/intertree.js')
