extends layout

block content
    #main-wrapper
        #main
            .page-header
                h4 Select common properties to compare between different organisms
                input#search_input.form-control(type='text', placeholder='Search properties', list="prop_datalist")
                datalist#prop_datalist
            #prop_treeview.div-float.scrollable
                | loading treeview
            #proptable.div-float.table.table-condensed
                h5#propname
                table
                    thead
                        tr
                            th.col-md-3 Property
                            th Value
                            th Unit
                            th Organism
                            th Year
                    tbody
            #json-dump.hidden
