extends layout

block content
    #main-wrapper
        #main
            .page-header
                h3 Explore properties
            #prop_treeview.div-float
            #proptable.div-float.table.table-condensed
                table
                    thead
                        tr
                            th Property
                            th Value
                    tbody
                        tr
                            td test