body {
  padding-top: 50px;
  overflow: hidden;
}
#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}
#main-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 50px 0 0px 0;
}
#main {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
}
#sidebar-wrapper {
  height: 100%;
  padding: 50px 0 0px 0;
  position: fixed;
  border-right: 1px solid #808080;
}
#sidebar {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
#sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.div-float {
  float: left;
}
#spec_treeview,
#prop_treeview {
  position: relative;
}
#spec_treeview svg {
  overflow: scroll;
}
#proptable td,
#proptable th {
  padding-right: 5px;
  font-size: x-small;
}
#search_input {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 200px;
}
#propname {
  margin: 0;
  display: inline-block;
}
#csvexport {
  float: right;
}
@media (max-width 992px) {
  body {
    padding-top: 0px;
  }
}
@media (min-width 992px) {
  #main-wrapper {
    float: right;
  }
}
@media (max-width 992px) {
  #main-wrapper {
    padding-top: 0px;
  }
  #sidebar-wrapper {
    position: static;
    height: auto;
    max-height: 300px;
    border-right: 0;
  }
}
